<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="https://pics.freeicons.io/uploads/icons/png/18579954981556105328-512.png"
    />
    <title>Notion DB</title>
  </head>
  <body class="mx-5">
    <div id="root">
      <a href="/add">add</a>
    </div>

    <script type="text/javascript">
      var title = <%-JSON.stringify(title)%>;
      var json = <%-JSON.stringify(json)%>;

            render("p", "Notion API", "display-1");
            render("h1", `Results in: ${title.results[0].properties.Name.title[0].plain_text}`);
            getTags(title);
            dropTable(json);



            function getTags(title){
                for (var j=0; j < title.results[0].properties.Tags.multi_select.length; j++){
                  render("p",`#${title.results[0].properties.Tags.multi_select[j].name}`, "", "tags");
              }
            }

             function dropTable (jsonn){
               console.log(jsonn);
              //   jsonn.results.map((x,index)=>{
              //    render("p", `${x.paragraph.text[0].text.content}`)
              //  })
               var expertList = JSON.stringify(json)
               render("p", `${expertList}`)

            }

            function render(element, txt, className, id) {
              var el = document.createElement(element);
              el.innerHTML = txt;
              el.setAttribute("class", className);
              el.setAttribute("id", id);
              document.body.appendChild(el);
            }
    </script>
  </body>
</html>
